h1 {
  /* 54px inner */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
}

h2 {
  /* 35px inner */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 16px;
  text-align: center;
}

h3 {
  /* 32px inner */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

h4 {
  /* 24px inner */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

h5 {
  /* 22px inner */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

h11 {
  /* 54px inner */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
}

h22 {
  /* 35px inner */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 16px;
  text-align: center;
}

h33 {
  /* 32px inner */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

h44 {
  /* 24px inner */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

h55 {
  /* 22px inner */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

h66 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

h77 {
  /* 14px inner */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

body {
  width: 100%;
  min-width: 1200px;
  /* background-color : pink; */
}

header {
  height: 10%;
  max-height: 8%;

  /* background-color:#45c74e; */
  opacity: 1;
}

.nav {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 92px;
  /* padding: 8px 16px; */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(hsla(0, 0%, 100%, 0))
  );
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0));
}

.MoonIcon {
  max-width: 80px;
}

#header_left_icon {
  display: flex;
  width: 30%;
  color: rgb(184, 182, 50);
  /* background-color: #364fc7; */
  text-decoration: none;

  justify-content: left;
}

#header_left_text {
  margin-top: auto;
  margin-bottom: auto;
  color: black;

  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
}

#header_right_icon {
  display: flex;
  width: 60%;
  height: 70%;
  max-height: 96px;
  max-width: 1200px;
  text-decoration: none;
  color: black;

  justify-content: right;

  /* background-color: #364fc7; */
  gap: 15px;

  align-items: right;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row.items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.MasterPrimaryButton {
  /* Master Primary Button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;

  width: 136px;
  height: 52px;

  /* Primary Colors/Color 1 */
  background-color: #1476ff;
  /* Button Shadows/Color 02 */
  box-shadow: 0px 4px 10px rgba(2, 87, 251, 0.19);
  border-radius: 44px;
  /* Inside auto layout */
  flex: none;
  /* order: 0; */
  /* flex-grow: 0; */
}

.MasterSecondaryButton {
  /* Master Secondary Button */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 22px;

  /* width: 30%;  */

  height: 100%;
  background: #ffffff;

  border: 1px solid #e9eaf3;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 42px;

  font-size: 14px;
}

.SocialMediaIconDiscord {
  /* Social Media Icon/Discord */

  width: 16px;
  height: 16px;

  /* Inside auto layout */

  flex: none;
  /* order: 2; */
  /* flex-grow: 0; */
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* padding: 8px 16px; */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* border-radius: 8px; */
  /* border-radius: 46px; */
  /* background-color: #edf2ff; */
  /* color: #364fff; */
  font-weight: 600;
}
.button.Green {
  width: 104.09px;
  height: 41.45px;
  color: #ffffff;
  background: #45c74e;
}

.button.Bottom {
  width: 153px;
  height: 58px;
  /* padding: 20px 32px; */
  font-weight: 400;
  font-size: 16px;
  /* line-height: 18px; */
  border-radius: 46px;
  /* color: #000000; */
}

.button:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button.main {
  background-color: #1476ff;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  border-color: #1476ff;
}

.button.lg {
  padding: 16px 32px;
}

.button.sm {
  padding: 4px 8px;
}

.button.xl {
  padding: 32px 64px;
  border-radius: 46px;
  font-size: 20px;
}

.button.xl.main.white {
  background-color: #fff;
  color: #364fc7;
}

#S1 {
  position: relative;
  height: 60%;
  width: 90%;
  /* background-color: green ; */
}

#S1_button {
  width: 30%;
  max-width: 415px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 32px;
  /* text */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 18px;
}

section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#S1-video {
  opacity: 0.5;
  z-index: -100;
  border-radius: 20px;
}

#S1-video > video {
  width: 100%;
  height: 150%;
  margin-top: 20%;
  border-radius: 20px;
  opacity: 0.9;
  z-index: -100;
  overflow: hidden;
}

p {
  text-align: center;
  font-family: "Inner";
  font-style: normal;
}

.S1-text {
  position: absolute;
  width: 100%;
  height: 60%;
  margin-top: -43%;
  /* margin-bottom: 10%; */
  z-index: 100;
  /* opacity: 0.5; */
  /* background-color: #45c74e; */

  flex-direction: column;
  display: flex;
  text-align: center;
  gap: 32px;
}

.S1-text1 {
  color: white;
}

.S1-text2 {
  color: black;
}

.S2 {
  display: flex;
  position: relative;
  background-color: #f7f9fc;
  width: 90%;
  /* height: 5em; */
  
  background: #ddd;

  margin-top: 3em;
  margin-bottom: 3em;
}

.S2_text {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

#S3 {
  display: block;
  /* background-color: black; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.S3_pic {
  width: 32%;
}

#S4-1,
#S4-2 {
  position: relative;
  width: 90%;
  height: 100%;
  /* background-color: gray; */

  margin-top: 5%;
}

.S4_inline {
  /* position: relative;
  display: inline-block; */
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.S4_pic_left {
  display: block;
  width: 15%;
  height: 220px;
  min-width: 200px;
  padding: 0px 5%;
  /* background-color : green; */
}

.center_pic {
  margin-top: 25%;
  width: 100%;
  max-height: 50px;
  /* background-color: #45c74e; */
}

.S4_pic_right {
  box-sizing: border-box;
  border-radius: 30px;

  width: 600px;
  max-width: 25vw;

  background-color: white;
  border: 1px solid #e9eaf3;
  box-shadow: 0px 2px 12px rgba(11, 22, 44, 0.05);

  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto;
  margin-bottom: auto; */
}

.S4_right_text {
  width: 80%;

  /* line-height: 1.5em; */
  /* background-color: #45c74e; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25% 10px;

  display: table-cell;
  vertical-align: middle;
  color: #6f7182;
}

.S4_full_rectangle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.S4_box_height {
  height: 219px;
  max-height: 45vh;
}

#S5 {
  box-sizing: border-box;
  display: flex;
  background-color: #1476ff;
  margin-top: 8%;
  color: white;
  box-shadow: 0px 4px 10px rgba(2, 87, 251, 0.19);
  border-radius: 36px;
}

#S5_left {
  width: 55%;

  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: 5%; */

  /* text */
  flex-direction: column;
  display: flex;
  text-align: center;
  gap: 32px;
}

#S5_right {
  width: 45%;
  height: 100%;
  /* margin-top: auto;
  margin-bottom: auto;
  margin-left: 15%; */
  margin : auto;
  /* background-color: pink; */
  overflow: hidden;
  border-radius: 0 36px 36px 0px; /* 左上 右上 右下 左下 */
  display: flex;

}


#S5_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding: 20px 32px;
  gap: 8px;
  width: 153px;
  height: 58px;

  /* Neutral Colors/100 */
  background: #ffffff;
  /* Neutral Colors/300 */
  border: 1px solid #e9eaf3;
  /* Button Shadows/White 01 */
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 46px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  color: #0b0e2c;


  margin :auto;
}

#S6 {
  background-color: #f7f9fc;
  margin-top: 8%;
  width: 100%;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav button {
  color: black;
}

.button {
  text-decoration: none;
}

@keyframes TestAnimation2 {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 3000);
    /* transform: matrix(1, 0, 0, 1, 0, 1000); */
    opacity: 0;
  }

  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}

.S1Animation {
  animation-name: TestAnimation2;
}

.S1T1Animation {
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.S1T2Animation {
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
}

.S1T3Animation {
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
}

.S1L1Animation {
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0.6s;
}

.S1L2Animation {
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
}

.S1L3Animation {
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

.S1L4Animation {
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 1.2s;
}

#S_bottom {
  width: 70%;
  min-width: 900px;
  display: flex;

  margin-left: auto;
  margin-right: auto;
}

#S_bottom_text {
  /* background-color: #45c74e; */
  width: 50%;
  text-align: center;
  color: #6f7182;
}

#S_bottom_icon {
  /* background-color: #364fc7; */
  width: 50%;

  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.section {
  transform: translateY(40%);
  transition: transform 0.4s ease;
}

.section.show {
  transform: translateY(0);
}

